*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color:#fff;
}
body{
    background-image: linear-gradient(to bottom right, rgba(79,51,101), rgba(210,0,0));
}
.container{
    width:100vh;
    height:100vh;
    display:grid;
    place-items: center;
    align-content: center;
    
}
.calculator{
    position:relative;
    height:auto;
    width:auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}
.theme-toggler{
    position: absolute;
    right:30px;
    left:30;
    color:gray;
    cursor:pointer;
    z-index: 1;
}
.theme-toggler.active{
    color:#333;
}

.theme-toggler::before{
    content: '';
    height:30px;
    width:30px;
    position:absolute;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    color:#333;
    z-index: -1;
}
#display{
    height:120px;
}
.display-1{
    text-align:right;
   height: 20px;
   margin:15px 20px;
   padding-top: 20px;
   font-size:20px;
   opacity: 75%;
   font-style: italic;
}
.display-2{
    text-align: right;
    height: 60px;
    margin:5px 20px;
    padding-top: 20px;
    font-size:30px;
    
}
.temp-res{
    position:absolute;
    margin:1px 15px;
    opacity: 50%;
    font-size:20px;
}

button{
    height: 60px;
    width: 60px;
    border:0;
    border-radius: 30px;
    margin:5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover{
    transform: scale(1.1);
}

/* Not Dark Mode */
.calculator{
    background-color: #fff;
}
.calculator #display{
    color: #0a1e23 ;
}
.calculator button#clearAll{
    background-color: #ff8f8f;
    color:#fc4552;
}
.calculator button#clearOne{
    background-color: #ffdf8f;
    color:#fc4552;
}
.calculator button.number{
    background-color: #c3eaff;
    color:#000;
}
.calculator button.btn-operator{
    background-color: #ffd0fd;
    color:#f967f3;
}
.calculator button.btn-equal{
    background-color: #adf9e7;
    color:#000;
}

/* dark theme */
.calculator.dark{
    background-color: #071115;
}
.calculator.dark #display{
    color:#f8fafd;
}
.calculator.dark button#clearAll{
    background-color: #2d191e;
    color:#cd2934;
}
.calculator.dark button#clearOne{
    background-color: #513824;
    color:#bd3740;
}
.calculator.dark button.number{
    background-color: #1b3f28;
    color:#f8fafb;
}
.calculator.dark button.btn-operator{
    background-color: #2e1f39;
    color:#a683ff;
}
.calculator.dark button.btn-equal{
    background-color: #232323;
    color:#ffffff;
}
